body{
    background-color: azure;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.covidImage{
    width:270px;
    margin-top: 10px;
    padding-bottom: 20px;
}